.popup-box {
    position: fixed;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.9);
    z-index: 99;
    opacity: 1;
    outline: none;
    transition: opacity .2s;
}
   
.box {
    outline: none;
    position: relative;
}
   
.close-icon {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 32px;
    line-height: 1;
    vertical-align: top;
}
.popinner{
    min-width: 400px;
    max-width: 90%;
    min-height: 200px;
    max-height: 90vh;
    background: #fff;
    border-radius: 4px;
    margin: 0 auto;
    overflow: unset;
    display: flex;
}
.popleft{
    width: 40%;
}
.popright{
    width: 60%;
}
.popleftInner{
    background-image: url('../../images/account-bg2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 20px;
    position: relative;
    z-index: 0;
    height: 100%;
}
.popleftInner:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--medium-black);
  opacity: .8;
  z-index: -1;
  top: 0;
  left: 0;
}
.box .title {
    color: var(--white);
    font-size: 26px;
    line-height: 1.1;
    margin-bottom: 10px;
    font-weight: 500;
  }
.popleftInner ul li {
    margin-bottom: 15px;
    padding-left: 15px;
    line-height: 1.2;
    color: var(--white);
    position: relative;
}
.popleftInner ul li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 4px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--theme-color);
}
.popupleftbtn{
  border: 1px solid var(--theme-color);
  background: var(--white);
  color: var(--black);
  width: auto;
  padding: 8px 20px;
  text-transform: uppercase;
  display: inline-block;
}
.popupleftbtn i svg{
  --white: var(--black);
}
.box p {
  color: var(--white);
  font-size: 16px;
  line-height: 1.3;
  margin-bottom: 10px !important;
}
.popRightInner{
  padding: 15px 30px 25px;
}
.account-form {
  padding-top: 0px;
  padding-bottom: 20px;
}
.account-form .title {
  color: var(--black);
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 600;
}
.aficon {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
.flagIn {
  width: 80px;
  height: 100%;
  background: var(--gray);
}
.flagIn .iti {
  width: 100%;
  height: 100%;
}
.intl-tel-input.allow-dropdown.separate-dial-code .selected-flag{
  background-color: transparent !important;
}
.intl-tel-input.allow-dropdown.separate-dial-code .selected-flag{
  display: flex !important;
}
.intl-tel-input.allow-dropdown.separate-dial-code .selected-dial-code{
  padding-left: 6px !important;
}
.intl-tel-input{
  height: 100%;
}
.intl-tel-input input[type=tel]{
  display: none;
}
.account-form .form-control, .account-form .form-select {
  padding: 10px 12px;
  background: var(--gray);;
  border: none;
}
.intl-tel-input .country-list{
  width: 300px;
  height: 250px;
}
.flagIn .intl-tel-input .country-list .country-name {
  word-break: break-all;
  white-space: break-spaces;
}
.btn-sec .btn{
  width: 100%;
  margin-right: 0px;
}
.account-form {
  padding: 10px 0px 20px 0px;
  position: relative;
  border-bottom: 2px solid #ced4da;
}
.account-form .or {
  position: absolute;
  bottom: -18px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--text-color);
  font-size: 15px;
  background: var(--white);
  padding: 10px 20px;
  line-height: 1;
}
.account-form .or {
  bottom: -13px;
  padding: 5px 20px;
}
.social-login {
  padding: 20px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social-login a {
  padding: 10px 12px;
  margin: 0px;
  width: 49.5%;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: all;
  font-weight: 500;
}
.social-login a.fblog {
  background: #334f8d;
  color: var(--white);
}
.social-login a.glog {
  background: #e8e8e8;
  color: var(--text-color);
}
.social-login a .icon {
  width: 16px;
  margin-right: 5px;
}