* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* colors */
:root{
    --theme-color: #f38065;
    --white:#fff;
    --gray:#f2f0ef;
    --medium-black:#221f1f;
    --black:#000;
    --hover:#fbf5f3;
    --light-theme:#f7f1ef;
    --hover2:#484848;
    --bg-color:#fbf5f3;
    --text-color:#646469;
    --theme-color-alpha: #f38065;
    --theme-color-extra-alpha: #f3745678;
  }
  /* colors end */
  /* fonts */
@font-face {
  font-family: 'SF-Pro-Display';
  src: url("../fonts/Yantramanav-Black.ttf");
  font-weight: 900;
}
@font-face {
  font-family: 'SF-Pro-Display';
  src: url("../fonts/Yantramanav-Bold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: 'SF-Pro-Display';
  src: url("../fonts/Yantramanav-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: 'SF-Pro-Display';
  src: url("../fonts/Yantramanav-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: 'SF-Pro-Display';
  src: url("../fonts/Yantramanav-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: 'SF-Pro-Display';
  src: url("../fonts/Yantramanav-Thin.ttf");
  font-weight: 100;
}
/* fonts end */
  .form-control:focus,.form-select:focus,button:focus{
    outline: none !important;
    box-shadow: none !important;
  }
  .form-control.is-valid:focus, .was-validated .form-control:valid:focus,.form-control.is-invalid:focus, .was-validated .form-control:invalid:focus{
    outline: none;
    box-shadow: none;
  }
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
  body {
    background: var(--white);
    margin: 0;
    padding: 0;
    font-family: 'Yantramanav', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: var(--medium-black);
    line-height: 1.6;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    height: calc(var(--vh, 1vh) * 100);
  
  }
  html {
  
      overflow: hidden;
    overflow-y: auto;
  }
  nav, section {
    display: block;
  }
  p {
    margin: 0px 0px 10px;
    padding: 0px; 
  }
  a, button {
    line-height: inherit;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  a:hover{ 
    color:var(--theme-color);
    text-decoration: none;
  }
  ul,ol {
    list-style: none;
    margin: 0px;
    padding: 0px;
  }
  .form-control:hover,input:hover,input:focus{
    outline: none !important;
    box-shadow: none !important;
  }
  .p60{padding: 60px 0px;}
  .p40{padding: 40px 0px;}
  .container{max-width: 1600px}
  .icon{
    width: 24px;
    height: 24px;
    display: inline-block;
  }
  .btn-sec {
    display: flex;
    align-items: center;
}
.btn-sec .btn {
  display: inline-block;
  width: auto;
  padding: 10px 30px;
  margin-right: 10px;
}
.btn {
  background: transparent;
  padding: 10px 15px;
  font-size: 15px;
  pointer-events: all;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--white);
  border-radius: 0;
  width: 100%;
}
.sub-btn{
  background: var(--theme-color);
  border: 1px solid var(--theme-color);
  color: var(--white);
}
.sub-btn:hover {
  background: var(--medium-black);
  border: 1px solid var(--medium-black);
  color: var(--white);
}
.inputIcon{
  height: 100%;
  background: var(--gray);
  display: flex;
  align-items: center;
  padding: 10px;
  position: relative;
  z-index: 1;
}
.inputIcon i{
  font-size: 22px;
}
.inputIcon:after{
  content: '';
  position: absolute;
  width: 1px;
  height: 60%;
  background: #dad9d8;
  right: 1px;
  z-index: -1;
}