.icons{display: inline-block; width: 24px; height: 24px;background-size:contain;}
.agent{ background-image:url(agent.svg); }
.air-conditioning{ background-image:url(air-conditioning.svg); }
.ask-qustion{ background-image:url(ask-qustion.svg); }
.balcony{ background-image:url(balcony.svg); }
.basketball{ background-image:url(basketball.svg); }
.bathrooms{ background-image:url(bathrooms.svg); }
.bedroom{ background-image:url(bedroom.svg); }
.budget{ background-image:url(budget.svg); }
.building{ background-image:url(building.svg); }
.business-centre{ background-image:url(business-centre.svg); }
.carpet-area{ background-image:url(carpet-area.svg); }
.cctv{ background-image:url(cctv.svg); }
.cleaning-services{ background-image:url(cleaning-services.svg); }
.clinic{ background-image:url(clinic.svg); }
.close-to-airport{ background-image:url(close-to-airport.svg); }
.concierge-service{ background-image:url(concierge-service.svg); }
.dining-area{ background-image:url(dining-area.svg); }
.discount{ background-image:url(discount.svg); }
.dropped-price{ background-image:url(dropped-price.svg); }
.dry-area{ background-image:url(dry-area.svg); }
.elderly-friendly{ background-image:url(elderly-friendly.svg); }
.family{ background-image:url(family.svg); }
.fence{ background-image:url(fence.svg); }
.fire-extinguisher{ background-image:url(fire-extinguisher.svg); }
.garden{ background-image:url(garden.svg); }
.gas-pipeline{ background-image:url(gas-pipeline.svg); }
.gated-community{ background-image:url(gated-community.svg); }
.gym{ background-image:url(gym.svg); }
.handicapped{ background-image:url(handicapped.svg); }
.high-connectivity{ background-image:url(high-connectivity.svg); }
.home{ background-image:url(home.svg); }
.home-search{ background-image:url(home-search.svg); }
.imported-fitting{ background-image:url(imported-fitting.svg); }
.intercom{ background-image:url(intercom.svg); }
.interior{ background-image:url(interior.svg); }
.jodi-flats-avlbl{ background-image:url(jodi-flats-avlbl.svg); }
.key{ background-image:url(key.svg); }
.library{ background-image:url(library.svg); }
.lift{ background-image:url(lift.svg); }
.location{ background-image:url(location.svg); }
.lounge-area{ background-image:url(lounge-area.svg); }
.Mini-Theatre{ background-image:url(mini-theatre.svg); }
.modular-kitchen{ background-image:url(modular-kitchen.svg); }
.money{ background-image:url(money.svg); }
.old-folks-zone{ background-image:url(old-folks-zone.svg); }
.paperwork{ background-image:url(paperwork.svg); }
.parking{ background-image:url(parking.svg); }
.payment{ background-image:url(payment.svg); }
.play-area{ background-image:url(play-area.svg); }
.popular{ background-image:url(popular.svg); }
.price{ background-image:url(price.svg); }
.prices-rising{ background-image:url(prices-rising.svg); }
.prime-location{ background-image:url(prime-location.svg); }
.ready-to-move{ background-image:url(ready-to-move.svg); }
.relationship-manager{ background-image:url(relationship-manager.svg); }
.Restaurant{ background-image:url(restaurant.svg); }
.retail-space{ background-image:url(retail-space.svg); }
.save-property{ background-image:url(save-property.svg); }
.School{ background-image:url(school.svg); }
.scurity{ background-image:url(scurity.svg); }
.spa{ background-image:url(spa.svg); }
.store{ background-image:url(store.svg); }
.swimming-pool{ background-image:url(swimming-pool.svg); }
.table-taniss{ background-image:url(table-taniss.svg); }
.toilet{ background-image:url(toilet.svg); }
.turf-ground{ background-image:url(turf-ground.svg); }
.upcoming-area{ background-image:url(upcoming-area.svg); }
.walking-area{ background-image:url(walking-area.svg); }
.water-supply{ background-image:url(water-supply.svg); }
.wifi{ background-image:url(wifi.svg); }
.security{ background-image:url(24-x-7-Security.svg); }
.acrylic-emulsion{ background-image:url(Acrylic-Emulsion.svg); }
.ac-waiting-lobby{ background-image:url(AC-Waiting-Lobby.svg); }
.agreement{ background-image:url(Agreement.svg); }
.air-conditioner-fittings{ background-image:url(Air-Conditioner-Fittings.svg); }
.badminton-court{ background-image:url(Badminton-Court.svg); }
.centralized-ac{ background-image:url(Centralized-AC.svg); }
.document-submitted{ background-image:url(Document-Submitted.svg); }
.eco-friendly{ background-image:url(Eco-Friendly.svg); }
.finance{ background-image:url(Finance.svg); }
.fire-fighting-systems{ background-image:url(Fire-Fighting-Systems.svg); }
.gymnasium{ background-image:url(gymnasium.svg); }
.indoor-games{ background-image:url(Indoor-Games.svg); }
.jacuzzi{ background-image:url(Jacuzzi.svg); }
.jogging{ background-image:url(Jogging.svg); }
.kids-play-areas{ background-image:url(Kids-Play-Areas.svg); }
.kids-pool{ background-image:url(Kids-Pool.svg); }
.large-green-area{ background-image:url(Large-Green-Area.svg); }
.luxurious-clubhouse{ background-image:url(Luxurious-Clubhouse.svg); }
.party-hall{ background-image:url(Party-Hall.svg); }
.possession{ background-image:url(possession.svg); }
.power-backup{ background-image:url(Power-Backup.svg); }
.property-search{ background-image:url(Property-Search.svg); }
.rain-water-harvesting{ background-image:url(Rain-Water-Harvesting.svg); }
.rcc-frame-structure{ background-image:url(RCC-Frame-Structure.svg); }
.rickshaw{ background-image:url(Rikchsaw.svg); }
.sauna{ background-image:url(Sauna.svg); }
.sewage-treatment-plant{ background-image:url(Sewage-Treatment-Plant.svg); }
.site-visit{ background-image:url(Site-Visit.svg); }
.snooker-pool-billiards{ background-image:url(Snooker-Pool-Billiards.svg); }
.table-tennis{ background-image:url(Table-Tennis.svg); }
.tennis-court{ background-image:url(Tennis-Court.svg); }
.token-money-paid{ background-image:url(Token-Money-Paid.svg); }
.treated-water-supply{ background-image:url(Treated-Water-Supply.svg); }
.vitrified-tiles{ background-image:url(Vitrified-Tiles.svg); }
.volleyball{ background-image:url(Volleyball.svg); }
.yoga-areas{ background-image:url(Yoga-Areas.svg); }
.dth-television{ background-image:url(DTH-Television.svg); }
/* .earthquake-resistant{ background-image:url(Earthquake-resistant.svg); } */
.finger-print-acess{ background-image:url(Finger-Print-Acess.svg); }
.grand-entrance{ background-image:url(Grand-Entrance.svg); }
.high-ceiling{ background-image:url(High-Ceiling.svg); }
.maintenance-staff{ background-image:url(Maintenance-Staff.svg); }
.premium-brand{ background-image:url(Premium-brand.svg); }
.vastu{ background-image:url(Vastu.svg); }
.Visitors-Parking{ background-image:url(Visitor-Parking.svg); }
.waste-disposal{ background-image:url(Waste-Disposal.svg); }
.aerobics-room{ background-image:url(Aerobics-Room.svg); }
.DTH-Television-Facility{ background-image:url(DTH-Television-Facility.svg); }
.Indoor-Squash-Court{ background-image:url(Indoor-Squash-Court.svg); }
.Intercom-Facility{ background-image:url(Intercom-Facility.svg); }
.Laundry-Service{ background-image:url(Laundry-Service.svg); }
.Library-And-Business-Centre{ background-image:url(Library-And-Business-Centre.svg); }
.Maintenance-Staff{ background-image:url(Maintenance-Staff.svg); }
.Reserved-Parking{ background-image:url(Reserved-Parking.svg); }
.Service-Goods-Lift{ background-image:url(Service-Goods-Lift.svg); }
.RO-Water-System{ background-image:url(RO-Water-System.svg); }
.Vaastu-Compliant{ background-image:url(Vaastu-Compliant.svg); }
.folder-open{ background-image:url(folder-open.svg); }
.Amphitheatre{ background-image:url(Amphitheatre.svg); }
.atm{ background-image:url(atm.svg); }
.Barbeque-Corner{ background-image:url(Barbeque-Corner.svg); }
.Beach-Pool-with-Palms{ background-image:url(Beach-Pool-with-Palms.svg); }
.Childrens-Wet-Park{ background-image:url(Childrens-Wet-Park.svg); }
.coffee{ background-image:url(coffee.svg); }
.Multi-purpose-lawn{ background-image:url(Multi-purpose-lawn.svg); }
.Pool-Deck-Lounge{ background-image:url(Pool-Deck-Lounge.svg); }
.Multipurpose-Hall{ background-image:url(Multipurpose-Hall.svg); }
.Basketball-Court{ background-image:url(Basketball-Court.svg); }
.Car-Wash-Area{ background-image:url(Car-Wash-Area.svg); }
.Reading-lounge{ background-image:url(Reading-lounge.svg); }
.Reflexology-Park{ background-image:url(Reflexology-Park.svg); }
.Solar-Lighting-Card-Room{ background-image:url(Solar-Lighting-Card-Room.svg); }
.Barbecue-Solar{ background-image:url(Barbecue-Solar.svg); }
.Water-Heating{ background-image:url(Water-Heating.svg); }
.Piped-Gas{ background-image:url(Piped-Gas.svg); }
.Landscaped-Garden{ background-image:url(Landscaped-Garden.svg); }
.Golf-Course{ background-image:url(Golf-Course.svg); }
.Cafeteria{ background-image:url(Cafeteria.svg); }
.Cricket-Pitch-Lawn{ background-image:url(Cricket-Pitch-Lawn.svg); }
.Toddler-Pool{ background-image:url(Toddler-Pool.svg); }
.Community-Hall{ background-image:url(Community-Hall.svg); }
.Meditation-Area{ background-image:url(Meditation-Area.svg); }
.Water-Supply-park{ background-image:url(Childrens-Wet-Park.svg); }
.Children-Play-Area{ background-image:url(Children-Play-Area.svg); }
.Open-Space{ background-image:url(Open-Space.svg); }
.Security-Cabin{ background-image:url(Security-Cabin.svg); }
.Garbage-Disposal{ background-image:url(Garbage-Disposal.svg); }
.Internal-Street-Lights{ background-image:url(Internal-Street-Lights.svg); }
.Paved-Compound{ background-image:url(Paved-Compound.svg); }
.Reflexology-Park{ background-image:url(Reflexology-Park.svg); }
.Day-Care{ background-image:url(Day-Care.svg); }
.Skating-Rink{ background-image:url(Skating-Rink.svg); }
.Sun-deck{ background-image:url(Sun-deck.svg); }
.Party-Lawn{ background-image:url(Party-Lawn.svg); }
.Multi-purpose-court{ background-image:url(Multi-purpose-court.svg); }
.Lounge{ background-image:url(Lounge.svg); }
.Business-Lounge{ background-image:url(Business-Lounge.svg); }
.Changing-Area{ background-image:url(Changing-Area.svg); }
.Conference-room{ background-image:url(Conference-room.svg); }
.Waiting-Lounge{ background-image:url(Waiting-Lounge.svg); }
.Steam-Room{ background-image:url(Steam-Room.svg); }
.Theatre{ background-image:url(Theatre.svg); }
.Pool-Table{ background-image:url(Pool-Table.svg); }
.Banquet-Hall{ background-image:url(Banquet-Hall.svg); }
.Fountain{ background-image:url(Fountain.svg); }
.Shopping-Centre{ background-image:url(Shopping-Centre.svg); }
.Entrance-Lobby{ background-image:url(Entrance-Lobby.svg); }
.Car-Parking{ background-image:url(Car-Parking.svg); }
.Senior-Citizen-Sitout{ background-image:url(Senior-Citizen-Sitout.svg); }
.Infinity-Pool{ background-image:url(Infinity-Pool.svg); }
.Natural-Pond{ background-image:url(Natural-Pond.svg); }
.Solar-Water-Heating{ background-image:url(Solar-Water-Heating.svg); }
.High-Speed-Elevators{ background-image:url(High-Speed-Elevators.svg); }
.shop{ background-image:url(store.svg); }
/* .Tea-House{ background-image:url(Tea-House.svg); } */
.Zen-Garden{ background-image:url(Zen-Garden.svg); }
.Fire-Garden{ background-image:url(Fire-Garden.svg); }
/* .Internal-Roads{ background-image:url(Internal-Roads.svg); } */
.Closed-Car-Parking{ background-image:url(Car-Parking.svg); }
.Kids-Adventure-Park{ background-image:url(Children-Play-Area.svg); }
.Retail-promenade{ background-image:url(retail-space.svg); }
.State-of-the-art{ background-image:url(State-of-the-art.svg); }
.Cafe{ background-image:url(Cafeteria.svg); }
.Games-room{ background-image:url(Games-room.svg); }
/* .Water-bodies{ background-image:url(Water-bodies.svg); } */
.Open-air-Gymnasium{ background-image:url(Open-air-Gymnasium.svg); }
.green-Yoga-Zone{ background-image:url(Yoga-Areas.svg); }
.Senior-citizen-area{ background-image:url(Senior-Citizen-Sitout.svg); }
.Aerobics-Centre{ background-image:url(Aerobics-Room.svg); }
/* .Phenomenal-Grand-Entrance{ background-image:url(Phenomenal-Grand-Entrance.svg); } */
/* .Capacious-Open-Spaces{ background-image:url(Capacious-Open-Spaces.svg); } */
.Majestic-Drop-Off-Plaza{ background-image:url(Majestic-Drop-Off-Plaza.svg); }
.Kinetic-Playground{ background-image:url(Kinetic-Playground.svg); }
.shop{ background-image:url(store.svg); }
.Remarkable-Hanging-Gardens{ background-image:url(garden.svg); }
.Breathing-Towers{ background-image:url(Breathing-Towers.svg); }
/* .Fitness-Center{ background-image:url(Fitness-Center.svg); } */
/* .Walway{ background-image:url(Walway.svg); } */
.star-gazing{ background-image:url(Star-Gazing.svg); }
.cricket-pitch{ background-image:url(Cricket-Pitch-Lawn.svg); }
.aromatherapy-garden{ background-image:url(garden.svg); }
.Football{ background-image:url(Football.svg); }
.Card-Room{ background-image:url(card-room.svg); }
.Earthquake-Resistant{ background-image:url(Earthquake-resistant-1.svg); }
.Outdoor-gym{ background-image:url(Open-air-Gymnasium.svg); }
.Apartment-level-security{ background-image:url(scurity.svg); }
.Parking-level-security{ background-image:url(Parking-level-security.svg); }
.amenity-level-security{ background-image:url(scurity.svg); }
.Lobby-level-security{ background-image:url(scurity.svg); }
.Podium-level-security{ background-image:url(scurity.svg); }
.Clubhouse-with-Gymnasium{ background-image:url(gymnasium.svg); }
.Cardio-room{ background-image:url(Cardio-room.svg); }
.Meditation-Park{ background-image:url(Meditation-Area.svg); }
.Sculpture-Garden{ background-image:url(Sculpture-Garden.svg); }
.Wifi-garden-and-Courtyard-Garden{ background-image:url(Wifi-garden.svg); }
.Palm-Meadows{ background-image:url(Palm-Meadows.svg); }
.Performance-Square{ background-image:url(Performance-Square.svg); }
.Cricket-bowling-machine-with-net{ background-image:url(cricket-bowling.svg); }
.Doctor-Room-First-Aid{ background-image:url(doctor-rooms.svg); }
.salon{ background-image:url(salon.svg); }
.CCTV-in-Select-Common-Areas{ background-image:url(CCTV-in-Select-Common-Areas.svg); }
.Pre-Function{ background-image:url(Pre-Function.svg); }
.Plaza{ background-image:url(plaza.svg); }
/* .Specified-Vehicle-Free-Area{ background-image:url(Specified-Vehicle-Free-Area.svg); } */
/* .Ample-Green-Views{ background-image:url(Ample-Green-Views.svg); }
.Infinity-Edge-View{ background-image:url(Infinity-Edge-View.svg); }
.Artifical-Lawn{ background-image:url(Artifical-Lawn.svg); }
.Hammock-garden{ background-image:url(Hammock-garden.svg); }
.lazy-deck{ background-image:url(lazy-deck.svg); }
.Terrace-garden{ background-image:url(Terrace-garden.svg); }
.Outdoor-Exercise-Area{ background-image:url(Outdoor-Exercise-Area.svg); }
.Exercise-Area{ background-image:url(Exercise-Area.svg); }
.Outdoor-creche-area{ background-image:url(Outdoor-creche-area.svg); }
.Well-defined-zones{ background-image:url(6-Well-defined-zones.svg); }
.Parents-pavilion-and-Lookout-square{ background-image:url(Parents-pavilion-and-Lookout-square.svg); }
.The-shade-seating-pavilion{ background-image:url(The-shade-seating-pavilion.svg); } */

