header{
    padding: 8px 0px;
    width: 100%;
    box-shadow: 0px 1px 20px #b1b1b130;
    transition: all ease-in-out 0.8s;
    background: var(--white);
    top:0; 
    position: fixed;
    z-index: 99; 
}


header .header-logo{
   width: 100px;
   -webkit-transition: all .7s ease;
   -moz-transition: all .7s ease;
   -ms-transition: all .7s ease;
   -o-transition: all .7s ease;
   transition: all .7s ease;
}
.hlogo {
    display: flex;
    align-items: center;
}
.hlogo span.version{
  margin-left: 8px;
  color: var(--theme-color);
  border: 2px solid var(--theme-color);
  padding: 3px 10px;
  border-radius: 30px;
  line-height: 1;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 13px;
}
header .header-logo img,.hm-search .search-btn img{
  background: transparent;
}
header.fixed .header-logo{
  width: 80px;
}
.main-menu ul{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding-left: 0;
    list-style: none;
}
.main-menu ul li{
    position: relative;
    margin-right: 25px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    color: var(--medium-black);
    font-size: 17px;
    font-weight: 500;
    /* text-transform: uppercase;
    font-weight: 600; */
}
.main-menu ul li.active a,.main-menu ul li:hover a{
    color:var(--theme-color);
}
.main-menu ul li .sub-menu{
    position: absolute;
    z-index: 2;
    top: 150%;
    left: -15px;
    display: block;
    visibility: hidden;
    min-width: 450px;
    margin: 0;
    padding: 10px 15px;
    list-style: none;
    -webkit-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
    letter-spacing: 0;
    opacity: 0;
    background-color: #fff;
    -webkit-box-shadow: -1px 10px 80px -15px rgba(0,0,0,0.3);
    box-shadow: -1px 10px 80px -15px rgba(0,0,0,0.3);
}
.main-menu ul li .sub-menu.shortlist{padding: 0;right: 0;left: unset;}
.main-menu ul li .sub-menu.shortlist ul li{padding: 10px 15px;}
.main-menu ul li .sub-menu .title{
  color: var(--theme-color);
  text-transform: capitalize;
  /* font-weight: 500; */
}
.main-menu ul li .sub-menu ul li{
  flex-grow: 1;
  padding: 5px 0px;
  font-size: 15px;
  font-weight: 400 !important;
  /* text-transform: capitalize; */
}
.main-menu ul li .sub-menu ul li ul{
  display: block;
}
.main-menu ul li .sub-menu ul li ul li a{
  color: var(--medium-black);
}
.main-menu ul li .sub-menu ul li ul li a:hover{
  color:var(--theme-color);
}
.main-menu ul li ul li a {
    display: block;
    padding: 0;
    color: var(--medium-black);
}
.main-menu ul li:hover .sub-menu{
    top: 100%;
    visibility: visible;
    opacity: 1;
}
.main-menu ul li ul li{
    margin-right: 0px;
    font-size: 12px;
}
.main-menu ul li ul li:last-child{
    border-bottom: none;
}
.topbar-menu ul li:hover,.main-menu ul li ul li:hover a{
    color:var(--theme-color);
}
.call-btn{
  display: flex;align-items: center;margin-right: 5px;
}
.call-btn span{
  color: var(--text-color);
  font-size: 15px;
  margin-right: 10px !important;
}
.call-btn a{
  display: flex;align-items: center;line-height: 1;
}
.call-btn a img{
  width: 20px;
  /* margin-right: 4px; */
}
.call-btn a span{
   color: var(--black);
   font-size: 20px;
   /* font-weight: 700; */
   margin-left: 6px !important;
}
.cal-btn{
    color: var(--medium-black);
    border: 1px solid #fff;
    display: flex;
}
.cal-btn a{
    display: flex;
    align-items: center;
    padding: 5px 15px;
    font-size: 14px;
    pointer-events: all;
    text-transform: uppercase;
    font-weight: 500;
}
.cal-btn a i{
  width: 14px;
  margin-right: 5px;
}
.cal-btn a.login{
  margin-right: 10px;
  background: transparent;
  border: 1px solid var(--theme-color);
  color: var(--theme-color);
}
.cal-btn a.login:hover{
  background: var(--hover);
  color: var(--medium-black)
}
.cal-btn a.reg{
  background: var(--medium-black);
  border: 1px solid var(--medium-black);
  color: var(--white);
}
.cal-btn a.reg:hover{
   background: var(--hover2);
  color: var(--white)
}
.hshort a{
    display: flex;
    font-size: 25px;
    line-height: 0;
}
.hshort a .short{
    position: relative;
    margin-left: 5px;
    color: var(--bs-gray-700);
}
.hshort a .short:hover{
    color: var(--black);
}
.hshort a .short span{
    position: absolute;
    line-height: 15px;
    background: var(--theme-color);
    color: var(--white);
    font-size: 12px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    right: -8px;
    text-align: center;
    top:0;
}
.header-icon{
    width: 26px;
}