.listing-page header {
    box-shadow: none;
}
.filer-sec{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
}
.filer-sec .fil-left{
    flex: 1;
}
.filer-sec .fil-right{
    text-align: right;
}
.filter-sec {
    display: flex;
    position: relative;
    align-items: center;
}
.filter-sec .list-search {
    flex-basis: 25%;
    margin-right: 8px;
}
.advance-filter {
    display: flex;
}
.filter-sec .filtersDiv{
    margin-right: 8px;
    position: relative;
}
.filter-sec .list-search .form-control{
    border: 2px solid var(--bs-gray-200);
    height: 100%;
    padding: 0.5rem 0.75rem;
    border-radius: 0;
}
.filtersDiv .select-area {
    width: 120px;
    background: var(--white);
    border-radius: 0;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border: 2px solid var(--bs-gray-200);
    height: 100%;
}
.filtersDiv .select-area .selectValue{
    line-height: 36px;
    font-size: .9rem;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    margin-bottom: 0px;
    padding: 0 30px 0 10px;
    color: var(--text-color);
    font-weight: 500;
    min-height: inherit;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    /* color: var(--text-color); */
}
.filtersDiv .select-area:before {
    content: '\f107';
    position: absolute;
    right: 8px;
    font-family: 'Line Awesome Free';
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-feature-settings: normal;
    font-variant: normal;
    text-rendering: auto;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    width: 12px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.filtersDiv .select-area.dropdownOpen:before{
    right: 6px;
    transform: translateY(-50%) rotate(-180deg);
} 
.select-drop {
    border: none;
    border: 1px solid var(--theme-color-extra-alpha);
    border-top: 2px solid var(--theme-color);
    border-radius: 0 0 3px 3px;
    margin-top: 0;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 50px 0px rgb(32 32 32 / 15%);
    -moz-box-shadow: 0px 0px 50px 0px rgba(32, 32, 32, 0.15);
    -o-box-shadow: 0px 0px 50px 0px rgba(32, 32, 32, 0.15);
    box-shadow: 0px 0px 50px 0px rgb(32 32 32 / 15%);
    width: 250px;
    position: absolute;
    left: 0;
    top: 100%;
    background: var(--white);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    z-index: 2;
}
/* .select-drop:before {
    content: "";
    position: absolute;
    left: 3px;
    top: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent var(--theme-color) transparent;
    transform: translateX(-);
} */
.pricebox {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.pricebox>div {
    flex-basis: 49%;
}
.pricebox input {
    color: var(--text-color);
    border-radius: 0;
    background: var(--white);
    font-size: .9rem;
}
.select-drop ul li {
    display: inline-block;
    margin-right: 0;
    margin-bottom: 8px;
    float: left;
    margin-right: 8px;
    border: 1px solid rgb(230, 230, 230);
    padding: 3px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    text-align: center;
    border-radius: 5px;
}
.select-drop ul li i {
    width: 20px;
    height: 20px;
    overflow: hidden;
    margin-bottom: 6px;
}
.select-drop ul li.active {
    background-color: rgb(244, 244, 244);
    cursor: pointer;
}
.select-drop ul li:hover{
    cursor: pointer;
}
.price-range{
    margin-top: 10px;
}
.price-range.hide{
    display: none;
}
.select-drop .price-value ul li {
    display: block !important;
    float: unset !important;
    margin-right: 0px !important;
    padding: 0px 4px !important;
    cursor: pointer;
    border:none;
    text-align: left;
}
.price-value ul li:hover, .price-value ul li.active {
    color: var(--theme-color);
}
.filer-sec .wrapper {
    position: relative;
}
.filer-sec .moreFilter{
    border: 2px solid var(--bs-gray-200);
    background-image: url(../../images/filter.png);
    background-size: 14px 14px;
    width: 38px !important;
    height: 40px !important;
    background-repeat: no-repeat;
    background-position: center;
}
.filer-sec .moreFilter:hover{
    cursor: pointer;
}
.load-more {
    background: transparent;
    border: 2px solid var(--theme-color);
    color: var(--theme-color);
    padding: 10px 15px;
    font-size: 16px;
    pointer-events: all;
    text-transform: uppercase;
    font-weight: 500;
}
.listing-page .load-more {
    background: var(--theme-color);
    color: var(--white);
}
.fil-left .load-more {
    padding: 6px 20px;
    font-size: 14px;
    margin-left: 8px !important;
}
.filter-sec .reset {
    margin-left: 5px;
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
}
.side_bar{
    position: fixed;
    top: 0px;
    right: -100%;
    width:500px;
    background: var(--bg-color);
    z-index: 9999999999;
    height: 100%;
    -webkit-transition: all .5s ease 0s !important;
    -o-transition: all .5s ease 0s !important;
    transition: all .5s ease 0s !important;
    /* overflow-x: hidden; */
    /* overflow-y: auto; */
}
.side_bar.active{
    right: 0;
    -webkit-box-shadow: 0 6px 8px rgb(0 0 0 / 42%);
    -moz-box-shadow: 0 6px 8px rgba(0,0,0,.42);
    box-shadow: 0 6px 8px rgb(0 0 0 / 42%);

}
.backdrop {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 98;
    display: none;
}

.side_bar .close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 32px;
  height: 32px;
  opacity: 1;
  z-index: 2;
  cursor: pointer;
}
.side_bar .close-btn:before, .side_bar .close-btn:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 20px;
  width: 2px;
  background-color: #333;
}
.side_bar .close-btn:before {
  transform: rotate(45deg);
}
.side_bar .close-btn:after {
  transform: rotate(-45deg);
}
.sideHead .title{
    padding-top: 0;
    font-size: 20px;
    color: var(--theme-color);
    line-height: 1;
    padding: 20px 20px;
}
.side-content{
    margin-top: 0;
    padding: 0 20px 0px;
    overflow: hidden;
    overflow-y: auto;
    height: calc(100vh - 130px);
}
.side-content .flist ul li{
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 8px;
    margin-bottom: 8px;
}
.side-content .flist ul li:last-child{
  border-bottom:none;
  margin-bottom: none;
}
.side-content .flist ul li .fltitle{
  font-size: 16px;
  font-weight: 600;
  color: var(--medium-black);
  margin-bottom: 15px;
}
.fl-data{
  /* display: flex; */
  /* flex-wrap: wrap; */
}
.fl-data label{
  border-radius: 30px;
  padding: 8px 15px;
  border: 1px solid var(--text-color);
  /* width: 100%; */
  padding: 6px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--text-color);
  font-size: 13px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  margin-bottom: 8px;
  margin-right: 4px;
  flex-basis: 23%;
  display: inline-block;
  text-transform: capitalize;
}
.fl-data label span{
  display: flex;
  align-items: center;
}
.fl-data label div{
  width: 16px;
  height: 16px;
  overflow: hidden;
  margin-right: 5px;
}
.fl-data label div span{
    width: 100%;
}
.fl-data label div img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.fl-data input[type=checkbox],.fl-data input[type=radio] {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}
.fl-data label:hover,.fl-data input:checked + label{
    background-color: var(--theme-color);
    cursor: pointer;
    color: var(--white);
    border: 1px solid var(--theme-color);
}
.fl-data label:hover .icons,.fl-data input:checked + label .icons{
    filter: brightness(100);
}
.side-footer {
    position: fixed;
    bottom: 0;
    z-index: 1;
    width: 100%;
    padding: 10px 20px;
}
.side-footer .btn{
    width: auto;
    padding: 10px 20px;
}
.backdrop {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 60%);
    z-index: 98;
    display: none;
}
.backdrop.active{
    display: block;
    -webkit-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
}